<strong>Olá, {{ deliveryman }} </strong>
<p>Houve uma criação de nova encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    O produto já está disponível para retirada!
  </small>
</p>
